body {
    background-color: #191919;
    font-family: 'Lexend', sans-serif;
    margin: 0;
    height: 100vh;
}

/* ========== MASTER PAGE ========== */

.container-custom {
    padding-left: 40px;
    padding-right: 40px;
    max-width: 100%; /* Mantener container responsive */
}

.navbar-dark {
    background-color: #1a2831;
}

.navbar-brand {
    margin-left: 28px;
}

.nav-link.custom-link {
    margin-right: 28px;
}

    .nav-link.custom-link:hover {
        color: #FFA431 !important;
        transform: scale(1.02);
        transition: all 0.2s ease-in-out;
    }


/* ========== PAGINA TURNOS ========== */

/* ===== CALENDARIO ===== */

.card {
    margin-top: 25px;
    background-color: #1a2831;
    border: none !important;
    box-shadow: none !important;
    border-radius: 0.9rem;
}

.card-body {
    padding: 2rem;
}

.calendarioTitulo {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}

.calendarioRango {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    display: inline-block;
}

/* === CONTENEDOR DEL HEADER === */

.header-calendario {
    display: flex;
    flex-direction: column; /* apila vertical en móviles */
    justify-content: space-between;
    margin-bottom: 0px !important;
    padding: 1rem 1rem 0 1rem; /* padding-top 1rem, padding-left/right 1rem, padding-bottom 0 */
}

    .header-calendario > * {
        display: block; /* hace que los labels se comporten como flex items */
    }

@media (min-width: 576px) {
    .header-calendario {
        flex-direction: row; /* horizontal */
        align-items: center;
        margin-bottom: 1.5rem;
        padding: 32px 32px 0 32px;
    }
}

/* === GRILLA DEL CALENDARIO === */
/* Muestra scroll horizontal cuando hace falta */
.calendar-scroll {
    overflow-x: auto; /* muestra barra horizontal */
    width: 100%; /* ocupa todo el ancho del card */
}

.calendar-grid {
    display: grid;
    grid-template-columns: auto repeat(7, minmax(140px, 1fr));
    gap: 0.5rem;
    min-width: 100%; /* ocupa todo el ancho disponible dentro del scroll */
    width: max-content; /* se expande según contenido */
}

@media (min-width: 576px) {
    .calendar-grid {
        padding: 0px 32px 32px 32px;
    }
}

/* == CABECERA DE DÍAS == */
.cabeceraDias {
    position: sticky;
    top: 0;
    padding: 0.5rem 1rem;
    text-align: center;
    color: #6c757d; /* text-secondary */
    z-index: 1020;
    font-weight: 600;
}

.horaCol {
    align-self: start; /* alinea la hora en la parte superior de la celda */
    padding-top: 0.5rem;
    padding-right: 0.5rem;
}

/* == TURNOS BOTONES == */
.turnoButton {
    padding: 0.5rem 1rem; /* mismo padding left/right que header, y top/bottom */
    text-align: center;
    border-radius: 0.25rem;
    border: 1px solid #dee2e6;
    background-color: #f8f9fa;
    color: #212529;
    transition: background-color 0.2s ease-in-out;
}

    .turnoButton:hover {
        background-color: #FFA431; /* hover sutil */
    }